Fantasy/Service References/MvcCall/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_IsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValid" />
  </wsdl:message>
  <wsdl:message name="IAdminService_IsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CreateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="IsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/IsValid" message="tns:IAdminService_IsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/IsValidResponse" message="tns:IAdminService_IsValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreateAdmin" message="tns:IAdminService_CreateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CreateAdminResponse" message="tns:IAdminService_CreateAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IAdminService/IsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CreateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FantasyServices/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>